* {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Comic Sans MS";
}

#title {
    font-size: 60px;
    margin-bottom: 20px;
}

#myCanvas {
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
}

#start {
    font-size: 70px;
    position: absolute;
    color: #FFFFFF;
    /*margin-left: 383px;*/
    margin-top: -10px;
    display: none;
    width: 800px;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

#winner {
    font-size: 70px;
    color: #00FF00;
    margin-top: 20px;
    display: none;
    width: 800px;
    text-align: center;
    clear: both;
    float: left;
}

#HPBar {
    width: 800px;
    height: 30px;
    float: left;
}

#player1HP {
    float: left;
}

#player2HP {
    float: right;
}

.HPIcon {
    width: 30px;
}

#myCanvas {
    clear: both;
    float: left;
}

.panel {
    clear: both;
    float: left;
    margin-top: 20px;
}

.buttons {
    width: 150px;
    outline: none;
}